<script src="../src/BraceExpander.js"></script>

<script>
	var input = prompt('Enter a Shell Brace Expansion (then check your console): '),
		Output = new BraceExpander(input),
		expanded = Output.getExpansions();

	console.log('Your expanded input is: ' + expanded);
</script>
